body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#small-output {
    width: 400px;
    height: 75px;
    background-color: black;
}

#container {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#pad {
    display: flex;
    flex-direction: column;
    width: inherit;
    flex-wrap: wrap;
}

.button-range {
    flex: 100%;
    display: flex;
}

button[data-key] {
    flex: 25%;
    height: 50px
}

button[data-key="96"] {
    flex: 50%;
}